<div class="container">

    <h1>Lista de Funcionários</h1>       
    <a class="btn btn-primary" href="incluirfuncionario" role="button"><i class="far fa-address-book"></i>&nbsp; Cadastrar Novo</a>

    <div id="demo" class="collapse"></div>
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>Código do Funcionário</th>
          <th>Nome</th>
          <th>Salário</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let funcionario of funcionario">
          <td>{{ funcionario.codigo }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>R$ {{ funcionario.salario }}</td>

          
        </tr>
      </tbody>
    </table>
  </div>
