
<div class="container">

    <h1>Lista de clientes por Ordem Alfabetica!</h1>       

    <div id="demo" class="collapse"></div>
    <table class="table table-light table-striped">
      <thead>
        <tr>
           
          <th>Nome</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let  listarclienteordemalfabetica  of listarclientealfabeticas">
          <td>{{ listarclienteordemalfabetica.nome }}</td>
           

          
        </tr>
      </tbody>
    </table>
  </div>
