<div class="container">
    <p>Listar Faturamento</p>   
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Codigo Pedido</th>
            <th>Nome</th>
            <th>Valor Pago</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let faturamento of faturamentos">
            <td>{{faturamento.codigopedido}}</td>
            <td>{{faturamento.nome}}</td>
            <td>{{faturamento.valorpago}}</td>
        </tr>
        </tbody>
    </table>
</div>

