<div class="container">

    <h1>Lista de Setores</h1>       
    

    <div id="demo" class="collapse"></div>
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>Código do Setor</th>
          <th>Nome do setor</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let setor of listarsetor">
          <td>{{ setor.codigoSetor }}</td>
          <td>{{ setor.nome }}</td>
       
          
        </tr>
      </tbody>
    </table>
  </div>
