<div class="container" >
    <table class="table table-borderless" >
        <tbody>
        <tr>
          <td>&nbsp;</td>
          <td align="center"><a class="btn btn-primary" href="login" role="button"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Login * &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
          <td align="center"><a class="btn btn-primary" href="addcliente" role="button"><i class="fas fa-address-book"></i>&nbsp;&nbsp; Cadastre-se * &nbsp;&nbsp;</a>  </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
          <td align="center"><a class="btn btn-primary" href="incluirpratos" role="button"><i class="fas fa-database"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pratos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
          <td align="center"><a class="btn btn-success" href="addpagamento" role="button"><i class="fas fa-money-check-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pagar *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
          <td align="center"><a class="btn btn-warning" href="listarpratosincluirpedidos" role="button"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;&nbsp;&nbsp; Pedidos * &nbsp;&nbsp;&nbsp;&nbsp;</a></td>
          <td align="center"><a class="btn btn-success" href="listarfaturamento" role="button"><i class="fa fa-bank"></i>&nbsp; Faturamento * &nbsp;&nbsp;</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
          <td align="center"><a class="btn btn-primary" href="listarpratopronto" role="button"><i class="far fa-calendar-plus"></i> Cliente/Prato *&nbsp;</a></td>
          <td align="center"><a class="btn btn-danger" href="window.close();" role="button"><i class="fa fa-close"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sair &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
